.shadow{
    box-shadow: 0 5px 1px 1px;
    min-height: 100px;
    /* padding: 0; */
}
.collapse-end{
    justify-content: flex-end;
}

.logoContainer{
    display: flex;
    align-items: center;
}

.logoText{
    display: flex;
    flex-direction: column;
}

.header-text{
    font-size: x-small;
    width: 20%;
    max-width: 100px;
}

#header-logo{
    min-height: 80px;
    height: 70%;
}

.navMod{
    text-align: center;
}

.navMod:hover{
    color: rgb(42, 42, 51) !important;
    position: relative;
    bottom: 3px;
    text-decoration: underline
}

#main{
    min-height: 50vh;
    display: flex;
    height: 100%;
}

.bodyContainer{
    min-height: 100%;
    width: 100%;
    padding: 15px 20px;
}

.titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(63, 62, 62);
}

.section{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* margin: 30px 10px 0px 10px; */
}

.limiteY{
    max-height: 45vh;
}

.unica{
    padding: 40px;
}

.large{
    max-width: 95%;
    padding: 40px;
}

.doble{
    width: 50%;
}

#footer-container{
    background-color: rgb(219, 221, 221);
    height: 30%;
    min-height: 250px;
}

#footer1{
    height: 90%;
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#footer1-logo{
    min-height: 120px;
    height: 100%;
}

.footer1-text{
    width: 18%;
    font-size: x-small;
}

.footer1-text-container{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

.footer1-text-container > i{
    padding: 5px;
    border: 1px solid black;
    border-radius: 40px;
}

#footer2{
    background-color: rgb(66, 65, 65);
    color: white;
    height: 10%;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}